{# {% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('app_formation_index') }}">back to list</a>
{% endblock %} #}
{% extends 'template.html.twig' %}

{% block title %}new Formation{% endblock %}

{% block body %}
   
    
    <div class="container-fluid d-flex flex-column" style="height: calc(100vh - 100px);">
        <div class="row flex-grow-1">
            <div class="col-md-6 px-0">
               <img src="{{ asset('https://infometiers.org/wp-content/uploads/2021/11/woman-craftmaster-at-pottery-shop-1024x683.jpg') }}" class="img-fluid h-100 w-100" alt="Image">
            </div>
            <div class="col-md-6">
               <div class="container mt-5"> 
    <h1>Create new Produit</h1>
    <div class="form-container text-center">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
        <div class="form-group">
            {{ form_label(form.sujet, 'Sujet') }}
            {{ form_widget(form.sujet, {'attr': {'class': 'form-control', 'style': form_errors(form.sujet) ? 'border-color: #ad1328;' : ''}}) }}
            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.sujet) }}</div>
                 <div class="form-group">
            {{ form_label(form.date, 'Date') }}
             {{ form_widget(form.date, {'attr': {'class': 'form-control', 'style': form_errors(form.date) ? 'border-color: #ad1328;' : ''}, 'value': form.vars.value|date('d/m/Y') }) }}
            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.date) }}</div>
            </div>

            {{ form_errors(form) }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}