{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Reservation Index</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre d'Adultes</th>
                        <th scope="col">Nombre d'Enfants</th>
                        <th scope="col">Date d'Arrivée</th>
                        <th scope="col">Date de Départ</th>
                        <th scope="col">Arrangement</th>
                        <th scope="col">Répartition</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.nbAdultes }}</td>
                        <td>{{ reservation.nbEnfants }}</td>
                        <td>{{ reservation.datearrivee ? reservation.datearrivee|date('Y-m-d') : '' }}</td>
                        <td>{{ reservation.datedepart ? reservation.datedepart|date('Y-m-d') : '' }}</td>
                        <td>{{ reservation.arrangement }}</td>
                        <td>{{ reservation.repartition }}</td>
                        <td>
                            <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-success btn-sm" ><i class="bi bi-eye"></i></a>
                            <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></a>
                            {# <a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a> #}
                            {{ include('reservation/_delete_form.html.twig')}}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_reservation_new') }}" class="btn btn-success" style="background-color: #105868;"><i class="bi bi-plus"></i></a>
    </div>
{% endblock %}
