{% extends 'BackOffice/baseB.html.twig' %}

{% block title %}Liste des Formations{% endblock %}

{% block body %}
    <style>
        /* Styles CSS */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .table th,
        .table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #4E73DF;
            color: #FFFFFF;
        }

        .no-records {
            text-align: center;
        }

        .search-container {
            margin-bottom: 20px;
        }

        .search-container input[type=text] {
            padding: 10px;
            margin-top: 8px;
            font-size: 17px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>

    <h1>Liste des Formations</h1>
    
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Sujet</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Lieu</th>
            <th>Produit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
      {% for formation in formations %}
    <tr>
        <td>{{ formation.id }}</td>
        <td>{{ formation.sujet }}</td>
        <td>{{ formation.date ? formation.date|date('Y-m-d') : '' }}</td>
        <td>{{ formation.heure ? formation.heure|date('H:i:s') : '' }}</td>
        <td>{{ formation.lieu }}</td>
        <td>{{ formation.produit is not null ? formation.produit.nom : 'Aucun produit associé' }}</td>
        <td>
            <a href="{{ path('app_formation_show', {'id': formation.id}) }}">show</a>
            <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7">Aucun enregistrement trouvé</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
