{% extends 'FrontOffice/baseF.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}

<header>
    <div>

        <nav id="navbar" class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark" style="height: 60px;">
            <div class="container">
                <!-- Logo -->
                <div class="logo navbar-brand w-25 mr-auto"style="margin-top: 10px;" >
                    <h1 class="text-light"><a href="index.html"><span>TuniWorld</span></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <img src="your-logo-path" alt="Your Logo"> -->
                </div>
                <!-- Icône -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Liens de la navbar -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav gap-2">
                        <li class="nav-item"><a class="nav-link" href="#hero">Acceuil</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Nos Hebergements</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Nos Evenements</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Nos Produits</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team1">A propos </a></li>
                    </ul>
                </div>

                <!-- Dropdown -->
                <div class="collapse navbar-collapse mr-3 justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item my-2 my-sm-0 dropdown">
                            <li class="dropdown  "><a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
</svg></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href="#">S'inscrire</a>
                <a href="#">Se connecter</a>
              </li>
           
            </ul>
          </li>
                </div>
            </div>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

{% block content %}
    <div class="row  mx-2 mt-3">
        <div class="col-md-6 mt-3">
            <!-- Partie pour l'image -->
            <img src="{{ asset('images/hotel-royal-azur-thalassa.jpg') }}" alt="Image" class="img-fluid rounded ">
        </div>
        <div class="col-md-6 ml-3">
            <!-- Partie pour le formulaire -->
            <h2>Collaborer Avec Nous</h2>
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
   

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.nom, 'Nom') }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'style': form_errors(form.nom) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer le nom de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.nom) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.email, 'Email') }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'style': form_errors(form.email) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer l\'email de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.email) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.telephone, 'Numero de Telephone') }}
                            {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'style': form_errors(form.telephone) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer le numero de téléphone de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.telephone) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.nbEtoiles, 'Nombre d Etoiles') }}
                            {{ form_widget(form.nbEtoiles, {'attr': {'class': 'form-control', 'style': form_errors(form.nbEtoiles) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer le nombre d\'étoiles de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.nbEtoiles) }}</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.localisation, 'Localisation') }}
                            {{ form_widget(form.localisation, {'attr': {'class': 'form-control', 'style': form_errors(form.localisation) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer la localisation de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.localisation) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.ville, 'Ville') }}
                            {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'style': form_errors(form.ville) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer la ville de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.ville) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.disponibilite, 'Disponibilité') }}
                            {{ form_widget(form.disponibilite, {'attr': {'class': 'form-control', 'style': form_errors(form.disponibilite) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer la disponibilité de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.disponibilite) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.prix, 'Prix') }}
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'style': form_errors(form.prix) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer le prix par nuitée de votre hotel'}}) }}
                            <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.prix) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.description, 'Description') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': form_errors(form.description) ? 'border-color: #ad1328;' : '', 'placeholder': 'Veuillez entrer la description de votre hotel'}}) }}
                    <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.description) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.image, 'Image') }}
                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                    <div class="text" role="alert" style="color: #ad1328;">{{ form_errors(form.image) }}</div>
                </div>

                <div class="d-flex  mt-3 justify-content-end">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-download"></i></button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
 

        </div>
    </div>
{% endblock %}

{% endblock %}
